
NeuralNetworks/NeuralNetwork/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NeuralNetworks/NeuralNetwork/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NeuralNetworks/.vs/NeuralNetwork/v15/.suo
NeuralNetworks/.vs/NeuralNetwork/v15/sqlite3/storage.ide
NeuralNetworks/NeuralNetwork/bin/Debug/NeuralNetwork.exe
NeuralNetworks/NeuralNetwork/bin/Debug/NeuralNetwork.exe.config
NeuralNetworks/NeuralNetwork/bin/Debug/NeuralNetwork.pdb
NeuralNetworks/NeuralNetwork/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeuralNetworks/NeuralNetwork/obj/Debug/NeuralNetwork.csproj.CoreCompileInputs.cache
NeuralNetworks/NeuralNetwork/obj/Debug/NeuralNetwork.csproj.FileListAbsolute.txt
NeuralNetworks/NeuralNetwork/obj/Debug/NeuralNetwork.csprojResolveAssemblyReference.cache
NeuralNetworks/NeuralNetwork/obj/Debug/NeuralNetwork.exe
NeuralNetworks/NeuralNetwork/obj/Debug/NeuralNetwork.pdb
NeuralNetworks/NeuralNetwork/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
